@model IEnumerable<MVCBlog.Models.Category>

@{
    ViewBag.Title = "Welcome to MyBlog";
}

<h2>Blog categories:</h2>

<ul>
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.CategoryName, "Category", "Blog", new { id = category.CategoryId }, null)</li>
    }
</ul>