@model IEnumerable<MVCBlog.Models.Category>

@{
    ViewBag.Title = "Welcome to MyBlog";
}

<h2>Blog categories:</h2>

<ul>
    @foreach (var category in Model)
    {
        <li><a href="@Url.Action("Category", "Blog", new { id = category.CategoryId })">@category.CategoryName</a></li>
    }
</ul>