@model List<MVCBlog.Models.CategoryInfo>

@{
    ViewBag.Title = "Welcome to MyBlog";
}

<h2>Blog categories:</h2>

<ul>
    @foreach (var category in Model)
    {
        <li><a href="@Url.Action("Category", "Blog", new { id = category.CategoryId })">@category.CategoryName</a><span> (@category.ArticleCount)</span></li> 
    }
</ul>

<a class="uk-button uk-button-success" href="@Url.Action("CreateCategory", "Blog")">Add Category</a>